.active-link {
    background-color: rgb(240, 126, 126);
    color: white;
    font-size: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(234, 227, 227);
    height: 60px;
    width: 150px;
}

.header {
    background-color: white;
    opacity: 70%;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(234, 227, 227);
}

.header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(234, 227, 227);
    height: 60px;
    width: 150px;
    color: black;
    transition-duration: 0.5s;
}

.header__item:hover {
    transform: scale(1.2);
}

.header__logo {
    margin-top: 10px;
    margin-left: 10px;
    color: red;
    transition-duration: 0.5s;
}

.header__logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mobile-menu-icon {
    display: none;
}

.nav-links-mobile {
    display: none;
}

.fas {
    font-size: 20px;
    margin: 10px;
    color: rgb(240, 126, 126);
    border: none;
}

@media screen and (max-width:760px) {
    .mobile-menu-icon {
        display: block;
        border: none;
        background-color: white;
        margin: 10px;
    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        position: fixed;
        right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: 0.3s;
        background-color: rgb(240, 126, 126);
    }
}

@media screen and (min-width:760px) {
    .mobile-menu-icon {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-links-mobile{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
}

.fa-user {
    color: black;
}

.fa-shop {
    color: black;
}

.fa-cart-arrow-down {
    color: black;
}