.footer-products{
    background-color: #3C3C3B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
    font-size: 30px;
    
    
}
.footer-products__gg{
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 2em;
    cursor: pointer;
}
.institution-class{
    font-size: 20px;
    color: beige;
    margin: 0.7em;
}
  